@charset "UTF-8";

:root {
    --cor2:#000000;
    --cor4:#05F2DB;
    --cor5:#D90479;
    --cor6:#F2CB05;
    --cor7:#0460D9;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px black;
}

.container {
    max-width: 900px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
    background-color: var(--cor2);
}

.imagem-logo {
    height: 100%;
    width: auto;
    margin-left: 40px;
}

.nav {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 70px;
    max-width: 900px;
}

#burger {
    background-color: var(--cor2);
    color: white;
    display: none;
    text-align: center;
    padding: 20px;
    margin-right: 30px;
    cursor: pointer;
}

#buger:hover {
    background-color: var(--cor2);
    color: var(--cor7);
    transform: .5s;
}

li {
    width: auto;
    list-style: none;
    margin-right: 30px;
    color: var(--cor6);
    background-color: var(--cor5);
    border-radius: 10px;
    padding: 5px;
    padding-right: 10px;
    font-weight: bold;
}

li:hover {
    color: var(--cor5);
    background-color: var(--cor4);
    transition: .5s;
}

.imagem-de-fundo {
    background-image: url('imagens/parede.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: auto;
    height: 528px;
    background-color: var(--cor2);
 
}

h1#principal {
    text-align: center;
    width: auto;
    max-height: 500px;
    font-size: 2em;
    padding-top: 20px;
    padding: 0px 20px 0px 0px;
    text-transform: uppercase;
    background-color:black;
    color: yellow;
    text-shadow: 2px 3px 2px #A6035D;
    line-height: 2em;
}

h1#segundo {
    text-align: center;
    width: auto;
    font-size: 1.5em;
    padding: 0px 20px 0px 0px;
    text-transform: uppercase;
    background-color: var(--cor2);
    color: yellow;
    text-shadow: 2px 3px 2px #A6035D;
    line-height: 2em;
}

.container-video {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: var(--cor2);
}

#videos{
    background-color: var(--cor2);
    width: auto;
    height: auto;
    display: block;
    padding: 10px;
}

#h1-video {
    background-color: var(--cor2);
    padding: 30px;
}

.fonte-video {
    text-align: center;
    background-color: var(--cor4);
    color: var(--cor2);
    font-size: 18px;
    width: 85%;
    padding: 19px;
    margin: auto;
    border-radius: 10px;
}
.video {
    display: block;
    background-color: var(--cor4);
    width: 40%;
    height: auto;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
}

iframe {
    width: 90%;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 10px;
}

#imagem-fixa {
    background-image: url('imagens/inclusivo.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: ; width: auto;
    height: 400px;
}
.container2 {
    display: block;
    width: auto;
    background-color: var(--cor2);
}

#inscreva-se {
    background-color: var(--cor2);
    display: block;
    width: auto;
    text-align: center;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#inscreva-se > h2 {
    background-color: var(--cor2);
    font-size: 2.5em;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 2px 1px black;
    padding-bottom: 10px;
}

#inscreva-se > p {
    background-color: var(--cor2);
    font-size: 2em;
    padding-top: 10px;
    color: var(--cor7);
} 

#sec-art {
    background-color: var(--cor2);
    display: block;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: auto;
    padding-bottom: -44px;
}

#form {
    height: auto;
    width: 80%;
    background-color: var(--cor6);
    display: block;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 6px;
    padding-left: 15px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 15px;
    border: 4px solid var(--cor7);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

form {
    background-color: var(--cor6);
    display: inline-block;
    justify-content: center;
}

#infornmaçoes {
    height: auto;
    width: 80%;
    background-color: var(--cor6);
    display: block;
    margin-right: 15px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 11px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    margin: auto;
    margin-bottom: 10px;
    border: 4px solid var(--cor7);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}


label {
    font-weight: bold;
}

input {
    background-color: var(--cor6);
    width: auto;
    height: 2px;
    border-radius: 4px;
    transition: .5s;
}

.campo {
    background-color: var(--cor6);
    padding: 7px;
    display: inline-block;
    width: auto;
}

.campo > p {
    background-color: var(--cor6);
    padding: 7px;
    font-weight: lighter;
    text-align: center;
}

#varios {
    background-color: var(--cor6);
    display: block;
    width: auto;
    height: 20px;
}

.botao {
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--cor5);
    color: var(--cor4);
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
}

.botao:hover {
    background-color: var(--cor4);
    color: var(--cor7);
    transition: 1S;
}

.info {
    background-color: var(--cor6);
    display: block;
    align-content: center;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 5px;
}

h3.info2 {
    width: 100%;
    display: block;
}

div > p.texto {
    background-color: var(--cor6);
    display: block;
    margin: 20px;
    justify-content: center;
    line-height: 20px;
    font-size: 1em;
    font-weight: 500;
}

div > img {
    background-color: var(--cor6);
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.valorestotal {
    max-width: 900px;
    background-color: var(--cor2);
}

div.planocfboq {
    display: block;
    width: auto;
    height: auto;
}

h1.planos {
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cor2);
    color: var(--cor5);
    text-shadow: 2px 1px 2px var(--cor4);
    line-height: 3em;
    font-size: 3em;
}

#imagem-fixa2 {
    background-image: url('imagens/wall-ball.jpg');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: ; width: auto;
    height: 300px;
}

aside {
    display: flex;
    max-width: 900px;
    justify-content: center;
    align-content: center;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

div.valores {
    width: 200px;
    height: 100px;
    border-radius: 10px
   
}

#valorunico {
    background-color: var(--cor4);
    display: block;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

h3.valordentro {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

#valoravulso {
    background-color: var(--cor7);
    display: block;
    margin-left: 100px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

.container-3 {
    display: flex;
}

div.texto-explicaçao {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: ;
    color: black;
    font-size: 1em;
    font-weight: 600;
    line-height: 40px;
    box-sizing: border-box;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    height: 30px;
    color: white;
    padding: 15px;
    font-size: 1em;
}

.footer {
    width: 18vw;
    margin: 0;
}

#footer{
    display: block;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--cor1);
}

#contatos {
    display: flex;
    width: auto;
    height: auto;
}

.icones {
    display: flex;
    align-items: flex-start;
    width: 15%;
}

@media (max-width:890px) {

    #burger {
        display: block;
        cursor: pointer;
        transition: 1s;
        font-size: 40px;
        font-weight: bold;
        color: white;
    }

    .nav {
        display: none;
        position: absolute;
        width: auto;
        height: auto;
        top: 38px;
        right: 23px;
    }

    .linkburger {
        width: auto;
        padding: 10px;
        text-align: justify;
    }

    .imagem-de-fundo {
        height: 330px;
    }

    .container-video {
        width: 90%;
        display: block;
        flex-wrap: wrap;
        align-items: center;
        background-color: var(--cor4);
        padding-top: 20px;
        padding-bottom: 20px;
      }

    .video {
        display: block;
        width: 90%;
        height: auto;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
        background-color: var(--cor2);
      }

      .fonte-video {
        display: block;
        align-items: center;
        justify-items: center;
        width: 85%;
        background-color: var(--cor2);
        color: white;
    }

    iframe {
        display: flex;
        width: 90%;
        align-content: center;
        margin: auto;
    }

    .fonte-video {
        display: block;
        align-items: center;
        justify-items: center;
        width: 85%;
    }

    #inscreva-se {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width:555px) {

    .nav {
        display: none;
        position: absolute;
        width: auto;
        height: auto;
        top: 38px;
        right: 23px;
    }

    .linkburger {
        width: auto;
        padding: 10px;
        text-align: justify;
    }

    .imagem-de-fundo {
        height: 330px;
    }

    h1#principal {
        text-align: center;
        width: auto;
        font-size: 1.5em;
        padding: 0px 20px 0px 0px;
        text-transform: uppercase;
        background-color: var(--cor2);
        color: yellow;
        text-shadow: 2px 3px 2px #A6035D;
        line-height: 2em;
    }
    
    h1#segundo {
        text-align: center;
        width: auto;
        font-size: 1em;
        padding: 0px 20px 0px 0px;
        text-transform: uppercase;
        background-color: var(--cor2);
        color: yellow;
        text-shadow: 2px 3px 2px #A6035D;
        line-height: 2em;
    }

    .container-video {
        width: 90%;
        display: block;
        flex-wrap: wrap;
        align-items: center;
        border-radius: 10PX;
      }

    .video {
        display: block;
        width: 90%;
        height: auto;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
    }  

    .fonte-video {
        display: block;
        align-items: center;
        justify-items: center;
        width: 90%;
    }

    iframe {
        display: flex;
        width: 90%;
        align-content: center;
        margin: auto;
    }

    #inscreva-se {
        background-color: var(--cor2);
        display: block;
        width: 80%;
        margin: auto;
        font-size: 1em;
        text-align: center;
        line-height: 2.5em;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #sec-art {
        background-color: var(--cor2);
        width: auto;
        display: block;
        align-content: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .valorestotal {
        background-color: var(--cor2);
        width: auto;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    div.planocfboq {
        display: block;
        width: auto;
        height: auto;
    }

    h1.planos {
        display: block;
        text-align: center;
        text-transform: uppercase;
        background-color: var(--cor2);
        color: var(--cor5);
        text-shadow: 2px 1px 2px var(--cor4);
        line-height: 3em;
        font-size: 2.2em;
    }

    aside {
        display: flex;
        max-width: 900px;
        justify-content: center;
        align-content: center;
        padding-bottom: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    div.valores {
        width: 200px;
        height: 100px;
        border-radius: 10px
    }
    
    #valorunico {
        background-color: var(--cor4);
        display: block;
        padding: 20px;
        text-align: center;
    }
    
    h3.valordentro {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1.5em;
        font-weight: bold;
    }
    
    #valoravulso {
        background-color: var(--cor7);
        display: block;
        text-align: center;
    }
    
    footer {
        width: auto;
        
    }

    #footer {
        width: auto;
        font-size: .7em;
        margin: auto;
        }
}

@media (max-width:380px) {

    .fonte-video {
        width: 80%;
    }

    aside {
        display: flex;
        max-width: 900px;
        align-content: center;
    }

    div.valores {
        border-radius: 10px
    }

    h3.valordentro {
        width: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1em;
        font-weight: bold;
    }
    div.valores p {
        font-size: 1em;
    }

    footer {
        font-size: .7em;
    }
}