@charset "UTF-8";

:root {
    --cor1:#F20587;
    --cor2:#000000;
    --cor3:#590232;

}
* {
    margin: 0;
    padding: ;
    font-family: sans-serif;
    color: var(--cor2);
    text-decoration: none;
}

.container {
    background-color:var(--cor2);
    display: flex;
    height: 120px;
    width: auto;
    justify-content: space-between;
}

img {
    height: 80px;
    
}

.nav {
    display: flex;
    justify-items: center;
    align-items: center;
    height: auto;
    width: auto;
}

li {
    list-style: none;
    justify-content: space-around;
    margin: 0 40px 0 40px;
    color: var(--cor1);
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

li:hover {
    color: white;
    background-color: var(--cor1);
    transition: .5s;
}

.imagem-de-fundo {
    background-image: url('imagens/caveira-rosa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 600px;
    background-color: var(--cor2);
}

.imagem-logo {
    padding: 20px;
    
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: yellow;
    text-shadow: 2px 3px 2px #A6035D;
    line-height: 2em;
    padding: 0px;
    
}

.aulas-experimentais {
    text-align: center;
    text-transform: uppercase;
    color: white;
    line-height: 2em;
    text-align: center;
    color: var(--cor1);
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: bold;
}

.container2 {
    display: block;
    background-color: var(--cor1);
}

.inscreva-se {
    text-align: center;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form {
    display: block;
    width: 50vw;
    padding: 20px;
}

.grupo {
    padding: 20px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    background-color: yellow;
}

input {
    
    
    width: 100%;
    height: 2px;
    background-color: var(--cor1);
    border-radius: 4px;
    transition: .5s;
}

.campo {
    padding: 10px;
}

.campo > p {
    padding: 10px;
    font-weight: lighter;
    text-align: center;

}

#nome {
    width: 500px;
    height: 20px;
    
}
#apelido {
    width: 380px;
    height: 20px;
}
#email {
    width: 570px;
    height: 20px;
}
#cpf {
    width: 250px;
    height: 20px;
    margin-right: 20px;
}
#whatsapp{
    width: 240px;
    height: 20px;
}

#indicacao {
    width: 250px;
    height: 20px;
    margin-left: 200px;
}

#cep {
    width: 250px;
    height: 20px;
    margin-right: 20px;
}

#endereco {
    width: 250px;
    height: 20px;
}

.botao {
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color:var(--cor1);
    color: white;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 10px;
}

.botao:hover {
    background-color: black;
    color: var(--cor1);
    transition: .5;
}


