@charset "UTF-8";

:root {
    --cor1:#F20587;
    --cor2:#000000;
    --cor3:#590232;
    --cor4:#05F2DB;
    --cor5:#D90479;
    --cor6:#F2CB05;
    --cor7:#0460D9;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body, html {
    width: auto;
   
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 80px;
    box-sizing: border-box;
    background-color:var(--cor4);
}

.imagem-logo {
    height: 150%;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.nav {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 70px;
    width: auto;
}

#burger {
    background-color: var(--cor4);
    color: black;
    display: none;
    text-align: center;
    padding: 20px;
    margin-right: 30px;
    cursor: pointer;
}

#buger:hover {
    background-color: var(--cor4);
    color: var(--cor7);
}

li {
    list-style: none; 
    margin: 0 40px 0 40px;
    color: white;
    background-color: var(--cor7);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

li:hover {
    color: var(--cor7);
    background-color: var(--cor1);
    transition: .5s;
}

.imagem-de-fundo {
    background-image: url(imagens/caveira-rosa.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: auto;
    height: 399px;
    background-color: var(--cor4);
}

h1#principal {
    text-align: center;
    width: auto;
    font-size: 2em;
    padding: 0px 20px 0px 0px;
    text-transform: uppercase;
    background-color: var(--cor4);
    color: yellow;
    text-shadow: 2px 3px 2px #A6035D;
    line-height: 2em;
   
}

h1#segundo {
    text-align: center;
    width: auto;
    font-size: 1.5em;
    padding: 0px 20px 0px 0px;
    text-transform: uppercase;
    background-color: var(--cor4);
    color: yellow;
    text-shadow: 2px 3px 2px #A6035D;
    line-height: 2em;
   
}

#videos{
    background-color: var(--cor4);
    width: auto;
    height: auto;
    display: block;
    padding: 10px;

}

.container-video {
    display: flex;
    width: auto;
    height: auto;
    margin: auto;
    margin-bottom: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: var(--cor4);
}

#h1-video {
    background-color: var(--cor4);
    padding: 30px;
}

.video {
    display: block;
    align-content: center;
    align-items: center;
    background-color: #000000;
    width: 30vw;
    height: 400px;
    
    align-items: center;
}

.fonte-video {
    text-align: center;
    background-color: var(--cor3);
    color: white;
    font-size: 20px;
    width: auto;
    padding: 18px;
}

iframe {
    width: 30vw;
}

.container2 {
    display: block;
    width: auto;
    background-color: var(--cor6);
}

#inscreva-se {
    background-color: var(--cor6);
    display: block;
    width: auto;
    text-align: center;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
}

#inscreva-se > h2 {
    background-color: var(--cor6);
    font-size: 2.5em;
    font-family: sans-serif;
    color: white;
    text-shadow: 1px 2px 1px black;
    padding-bottom: 10px;
}

#inscreva-se > p {
    background-color: var(--cor6);
    font-size: 2em;
    padding-top: 10px;
} 

#sec-art {
    background-color: var(--cor6);
    display: block;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
    height: auto;
    padding-bottom: -44px;
}

#form {
    height: auto;
    width: 80%;
    background-color: var(--cor6);
    display: block;
    margin-right: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 6px;
    padding-left: 15px;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 15px;
    border: 4px solid var(--cor7);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

form {
    background-color: var(--cor6);
    display: inline-block;
    justify-content: center;
}

#infornmaçoes {
    height: auto;
    width: 80%;
    background-color: var(--cor6);
    display: block;
    margin-right: 15px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 11px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    margin: auto;
    margin-bottom: 10px;
    border: 4px solid var(--cor7);
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}


label {
    font-weight: bold;
}

input {
    background-color: var(--cor6);
    width: auto;
    height: 2px;
    border-radius: 4px;
    transition: .5s;
}

.campo {
    background-color: var(--cor6);
    padding: 7px;
    display: inline-block;
    width: auto;
}

.campo > p {
    background-color: var(--cor6);
    padding: 7px;
    font-weight: lighter;
    text-align: center;
}

#varios {
    background-color: var(--cor6);
    display: block;
    width: auto;
    height: 20px;
    
}

.botao {
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--cor1);
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    border-color: var(--cor1);
    cursor: pointer;
}

.botao:hover {
    background-color: white;
    color: var(--cor1);
    transition: 1S;
    border-color: var(--cor1);
}



.info {
    background-color: var(--cor6);
    display: block;

    align-content: center;
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 5px;
}

h3.info2 {
    width: 100%;
    display: block;
}


div > p.texto {
    background-color: var(--cor6);
    display: block;
    margin: 20px;
    justify-content: center;
    line-height: 20px;
    font-size: 1em;
    font-weight: 700;
}

div > img {
    background-color: var(--cor6);
    width: 80px;
    height: 80px;
    margin-right: 20px;
}



.valorestotal {
    background-color: var(--cor5);
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

div.planocfboq {
    display: block;
    width: auto;
    height: auto;

}

h1.planos {
    display: block;
    text-align: center;
    text-transform: uppercase;
    background-color: var(--cor5);
    color: blue;
    text-shadow: 2px 3px 2px black;
    line-height: 3em;
    font-size: 3em;
}

aside {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
}

div.valores {
    width: 200px;
    height: 100px;
    border-radius: 10px
   
}

#valorunico {
    background-color: var(--cor4);
    display: block;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

h3.valordentro {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    
}

#valoravulso {
    background-color: var(--cor7);
    display: block;
    margin-left: 100px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
}

.container-3 {
    display: flex;
}


div.texto-explicaçao {
display: flex;
flex-direction: column;
padding: 40px;
background-color: ;
color: black;
font-size: 1em;
font-weight: 600;
line-height: 40px;
box-sizing: border-box;
}


footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor2);
    height: 30px;
    color: white;
    padding: 15px;
    font-size: 1em;
}

.footer {
    width: 18vw;
    margin: 0;
}

#footer{
    display: block;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: var(--cor1);
}

#contatos {
    display: flex;
    width: auto;
    height: auto;
}

.icones {
    display: flex;
    align-items: flex-start;
    width: 15%;
}

@media (max-width:1020px) {

    #burger {
        display: block;
        cursor: pointer;
        transition: 1s;
        font-size: 40px;
        font-weight: bold;
        color: var(--cor7);
    }

    .nav {
        display: none;
        position: absolute;
        justify-items: center;
        width: auto;
        height: auto;
        top: 80px;
        right: 15px;
    }

    .linkburger {
        width: auto;
        padding: 10px;
        text-align: justify;
    }

    .container-video {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .video {
        display: block;
        width: 40%;
        align-items: center;
        
        margin-bottom: 20px;
    }  

    iframe {
        display: flex;
        width: 90%;
        align-content: center;
        margin: auto;
    }

    .fonte-video {
        display: block;
        align-items: center;
        justify-items: center;
    }

}

@media (max-width:890px) {

    #burger {
        display: block;
        cursor: pointer;
        transition: 1s;
        font-size: 40px;
        font-weight: bold;
        color: var(--cor7);
    }

    .nav {
        display: none;
        position: absolute;
        justify-items: center;
        width: auto;
        height: auto;
        top: 80px;
        right: 15px;
    }

    .linkburger {
        width: auto;
        padding: 10px;
        text-align: justify;
    }

    .container-video {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }


}

@media (max-width:718px) {

    .nav {
        display: none;
        position: absolute;
        justify-items: center;
        width: auto;
        height: auto;
        top: 80px;
        right: 15px;
    }

    .linkburger {
        width: auto;
        padding: 10px;
        text-align: justify;
    }
        

    h1#principal {
        text-align: center;
        width: auto;
        font-size: 1.8em;
        padding: 0px 20px 0px 20px;
        text-transform: uppercase;
        background-color: var(--cor4);
        color: yellow;
        text-shadow: 2px 3px 2px #a6035d;
        line-height: 2em;
    }

    #inscreva-se {
        background-color: var(--cor6);
        display: block;
        width: 71%;
        margin: auto;
        text-align: center;
        line-height: 2em;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #inscreva-se > h2 {
        background-color: var(--cor6);
        font-size: 2em;
        font-family: sans-serif;
        color: white;
        text-shadow: 1px 2px 1px black;
        padding-bottom: 10px;
    }

    #inscreva-se > p {
        background-color: var(--cor6);
        font-size: 1.5em;
        padding-top: 10px;
        width: auto;
    }

    h1 {
        width: auto;
        text-align: center;
        text-transform: uppercase;
        background-color: var(--cor4);
        color: yellow;
        text-shadow: 2px 3px 2px #a6035d;
        line-height: 33px;
        font-size: 1.3em;
        }
    

    #sec-art {
        background-color: var(--cor6);
        width: auto;
        display: block;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    #form {
        height: auto;
        width: 80%;
        background-color: var(--cor6);
        display: block;
        margin-right: 15px;
        margin-left: 20px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 6px;
        padding-left: 15px;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 15px;
        border: 4px solid var(--cor7);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
    }

    #infornmaçoes {
        height: auto;
        width: 80%;
        background-color: var(--cor6);
        display:block;
        margin-right: 15px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 11px;
        padding-left: 10px;
        border-radius: 15px;
        border: none;
        margin: auto;
        margin-bottom: 10px;
        border: 4px solid var(--cor7);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
    }

    .interna {
        background-color: var(--cor6);
        display: block;
        width: auto;
        
        text-align: center;
    
    }

    h3.info2 {
        width: 100%;
        display: block;
    }

    .valorestotal {
        background-color: var(--cor5);
        width: auto;
        height: auto;
        padding-top: 5px;
        padding-bottom: 32px;
    }

    div.planocfboq {
        display: block;
        width: auto;
        height: auto;
    }

    h1.planos {
        display: block;
        text-align: center;
        text-transform: uppercase;
        background-color: var(--cor5);
        color: blue;
        text-shadow: 2px 3px 2px black;
        line-height: 3em;
        font-size: 2em;
    }

    aside {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        height: auto;
        width: 80%;
    }

    div#valorunico.valores {
        background-color: var(--cor4);
        display: block;
        padding: 20px;
        text-align: center;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
    }

    div.valores {
        background-color: var(--cor4);
        display: block;
        padding: 20px;
        text-align: center;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
    }

    h3.valordentro {
        padding-top: 10px;
        padding-bottom: 25px;
        font-size: 1.5em;
        font-weight: bold;
    }

    #valoravulso {
        background-color: var(--cor7);
        display: block;
        margin-left: 10px;
        padding: 20px;
        text-align: center;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
    }

footer {
    width: auto;
}

    #footer {
        width: auto;
        font-size: .8em;
    }

}


@media (max-width:555px) {

    .nav {
        display: none;
        position: absolute;
        justify-items: center;
        width: auto;
        height: auto;
        top: 80px;
        right: 15px;
    }

    .linkburger {
        width: auto;
        padding: 10px;
        text-align: justify;
    }
    h1#principal {
        text-align: center;
        width: auto;
        font-size: 1.5em;
        padding: 0px 20px 0px 0px;
        text-transform: uppercase;
        background-color: var(--cor4);
        color: yellow;
        text-shadow: 2px 3px 2px #A6035D;
        line-height: 2em;
       
    }
    
    hi#segundo {
        text-align: center;
        width: auto;
        font-size: 1em;
        padding: 0px 20px 0px 0px;
        text-transform: uppercase;
        background-color: var(--cor4);
        color: yellow;
        text-shadow: 2px 3px 2px #A6035D;
        line-height: 2em;
       
    }

    .container-video {
        width: 90%;
        display: block;
        flex-wrap: wrap;
        align-items: center;
      }

    .video {
        display: block;
        width: 90%;
        height: auto;
        align-items: center;
        margin: auto;
        margin-bottom: 20px;
    }  

    iframe {
        display: flex;
        width: 90%;
        align-content: center;
        margin: auto;
    }

    .fonte-video {
        display: block;
        align-items: center;
        justify-items: center;
    }

    #inscreva-se {
        background-color: var(--cor6);
        display: block;
        width: 80%;
        margin: auto;
        font-size: .7em;
        text-align: center;
        line-height: 2em;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #sec-art {
        background-color: var(--cor6);
        width: auto;
        display: block;
        align-content: center;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    #form {
        height: auto;
        width: 80%;
        background-color: var(--cor6);
        display: block;
        margin-right: 15px;
        margin-left: 20px;
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 6px;
        padding-left: 15px;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 15px;
        border: 4px solid var(--cor7);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
    }

    #infornmaçoes {
        height: auto;
        width: 80%;
        background-color: var(--cor6);
        display:block;
        margin-right: 15px;
        margin-left: 20px;
        padding-top: 20px;
        padding-bottom: 11px;
        padding-left: 10px;
        border-radius: 15px;
        border: none;
        margin: auto;
        margin-bottom: 10px;
        border: 4px solid var(--cor7);
        box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.501);
    }

   
    h3.info2 {
        width: 100%;
        display: block;
    }

    p.texto {
        height: auto;
    }

    .valorestotal {
        background-color: var(--cor5);
        width: auto;
        height: auto;
        padding-top: 20px;
        padding-bottom: 50px;
    }

    div.planocfboq {
        display: block;
        width: auto;
        height: auto;
    }

    h1.planos {
        display: block;
        text-align: center;
        text-transform: uppercase;
        background-color: var(--cor5);
        color: blue;
        text-shadow: 2px 3px 2px black;
        line-height: 3em;
        font-size: 2em;
    }

    aside {
        display: flex;
        justify-content: center;
        align-content: center;
        height: auto;
        width: 80%;
    }

    div#valorunico.valores {
        background-color: var(--cor4);
        display: block;
        padding: 10px;
        text-align: center;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
    }

    div.valores {
        background-color: var(--cor4);
        display: block;
        padding: 20px;
        text-align: center;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
    }

    h3.valordentro {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 1em;
        font-weight: bold;
    }

    #valoravulso {
        background-color: var(--cor7);
        display: block;
        margin-left: 10px;
        padding: 10px;
        text-align: center;
        box-shadow: 1px 2px 2px rgb(0 0 0 / 50%);
    }

    footer {
        width: auto;
    }
    
        #footer {
            width: auto;
            font-size: .6em;
        }

}